@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes aurora {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-aurora {
  animation: aurora 20s linear infinite;
} 